<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>


  <!--Main Header-->

  <header>

    <div class="blur-mask">
    </div>

    <div class="container">
      <div class="nav-container">

        <a href="#" class="navbar-brand">
          <img src="/assets/img/index/Ingrasys logo_white2.svg" alt="Ingrasy logo" class="header-img">
        </a>

        <div class="side-bar">

          <div class="menu-btn">
            <div class="hamburger" id="hamburger-1">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
          </div>


          <!-- <div class="menu-btn" id="nav-icon1">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div> -->

          <div class="menu">
            <div class="item">
              <a href="#">
                About Ingrasys</a>
            </div>
            <div class="item">
              <a class="sub-btn">

                </i>Products
                <i class="fas fa-angle-right dropdown">

                </i>
              </a>
              <div class="sub-menu">
                <a href="#" class="sub-item">Server</a>
                <a href="#" class="sub-item">Storage</a>
                <a href="#" class="sub-item">HPC Accelerator</a>
                <a href="#" class="sub-item">Workstation</a>
                <a href="#" class="sub-item">Advanced Cooling Solution</a>
              </div>
            </div>
            <div class="item"><a href="#"></i>Solutions</a></div>
            <div class="item">
              <a class="sub-btn">CSR<i class="fas fa-angle-right dropdown"></i></a>
              <div class="sub-menu">
                <a href="#" class="sub-item">Sub Item 01</a>
                <a href="#" class="sub-item">Sub Item 02</a>
              </div>
            </div>
            <div class="item"><a href="#"></a></div>
          </div>
        </div>

      </div>

    </div>

    <div class="container">
      <div class="banner-wrapper">
        <div class="main-caption background-image">

          <div class="caption-title">
            <h1>NEXT LEVEL<br> HCI & SERVER
            </h1>

          </div>


          <!-- </h1> -->
          <span class="line"></span>
          <p class="caption-description">Your future innovative intelligent
            <br>
            <font color="#F58522">solutions provider</font>
          </p>
          <!--        video play -->
          <div class="caption-video">
            <a class="video-play-button" id="youtube">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 104 104" enable-background="new 0 0 104 104" xml:space="preserve">
                <path fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" d="M26,35h52L52,81L26,35z" />
                <circle class="video-play-circle" fill="none" stroke="#F58522" stroke-width="8" stroke-miterlimit="10"
                  cx="52" cy="52" r="50" />
              </svg>
              <span class="video-play-outline"></span>
            </a>
          </div>

        </div>
      </div>
    </div>

  </header>

  <!-- partial templates will replace the part of "body" here -->
  {{{body}}}

  <footer>
    <div class="container">
      <div class="footer-wrapper">

        <div href="#" class="footer-item footer-logo">
          <img src="/assets/img/index/Ingrasys logo_white2.svg
                    " alt="Ingrasy logo" class="footer-img">
          <p class="copyright">© 2021 Ingrasys Technology Inc. All rights reserved.</p>
        </div>


        <div class=" footer-item footer-office">
          <h class="office-location"> Contact
          </h>
          <div class="office-address">
            <span>
              <i class="fas fa-map-marker-alt"></i>
              2025 Gateway Pl Suite 190</br> San Jose, CA 95110
              </br>
            </span>
            <span>
              <i class="fas fa-envelope"></i>
              Sales@ingrasys.com
            </span>
            <span>
              <i class="fas fa-phone"></i>
              +1 408-727-8060
            </span>
            </br>
          </div>
        </div>
      </div>

    </div>
  </footer>

  <!-- jquery -->


  <!-- jquery -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>



  <script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script type="text/javascript" src="https://threejs.org/examples/js/libs/stats.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>




</body>

</html>