<div class="custom-container">

  <nav class="under-header" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About Ingrasys</li>
    </ol>
  </nav>

  {{!-- banner pic in css --}}
  <div class="about-banner">
    <img src="" alt="">
  </div>

</div>

<div class="custom-container">

  <div class="title-box title-left">
    <h1 class="about-title"> Ingrasys Story</h1>
    <h class="line"> </h>
  </div>
  <br>

  <div class="story-wrapper">
    <div class="story-img">
      <img src="/assets/img/about/office-view.jpg"" alt=" office">

    </div>
    <div class=" story-para">
      <p>
        Ingrasys Technology Inc., founded in February 2002, is a global leading developer in the network computing
        technologies.
        Headquartered in Taoyuan, Taiwan, the company has presently more than 150 employees worldwide. Over 70% are
        engineers
        specialized in network computing technologies developments. Based upon its own innovative SlimServer
        technologies,
        Ingrasys has maintained a steady growth on the business toward the global market. To effectively manage the
        growing
        business, Ingrasys also affiliates with strategic partners in major territories worldwide, such as EU, U.S.,
        Middle
        East, Australia, Asia, and Mainland China. Currently, Ingrasys is dedicating to deliver the solid-state
        networking
        storage device/server, as well as the full spectrum of intelligent embedded network systems and service
        solutions
        for
        the fast-growing network computing environment. With the core technologies integrating the optimized design of
        network
        operating system, software and hardware, Ingrasys provides the breakthrough intelligent network solutions with
        excellent
        usability and reliability to our valuable customers. With extensive experiences in the network computing
        technologies,
        Ingrasys Technology Inc. is continuously aiming as the Best-In-Class technology company that connects all our
        partners
        to the future growth.

      </p>



    </div>

  </div>
</div>

<div class="custom-container">

  <div class="title-box title-left">
    <h1 class="about-title"> Leadership</h1>
    <h class="line"> </h>
  </div>
  <br>


  <div class="leader-wrapper">
    <div class="card" ">
      <img src=" /assets/img/about/pcb.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Benjamin Ting</h5>
        <p class="card-text"> Vice President
        </p>
      </div>
    </div>
    <div class="card" ">
          <img src=" /assets/img/about/pcb.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Benjamin Ting</h5>
        <p class="card-text"> Vice President
        </p>
      </div>
    </div>
    <div class="card" ">
          <img src=" /assets/img/about/pcb.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Benjamin Ting</h5>
        <p class="card-text"> Vice President
        </p>
      </div>
    </div>



  </div>

</div>

<div class="custom-container">

  <div class="title-box title-left">
    <h1 class="about-title"> Our Office</h1>
    <h class="line"> </h>
  </div>
  <br>
  <div class="container-boxy">
    <a class="collapsed collapse-header" data-toggle="collapse" data-target="#collaspe1" href="javascript:;"
      aria-expanded="false">
      <h4>North America</h4>
    </a>

    <div class="collapse" id="collaspe1">
      <p>I'm a visitor touring your lovely planet and I happened to come across seven Dragonballs if how can androids
        have
        babies? The prince of all Saiyans, Frieza's spaceship, in did you boys remember to pack your toothbrushes? Your
        son's dead Goku! He's DEAD!! If I chuck this rock at him, he'll just zap it into a million pieces! He's not
        quite
        as strong as I am but I'll do it slowly, so you can watch me better. I am one of the greatest fighters in the
        universe, but how can androids have babies? He's not quite as strong as I am, and Mr. Satan but what does the
        scouter say about his power level? My ears do more than just frame my face, but Special Beam Cannon, like oh
        man,
        dude! I hit him too hard! I am one of the greatest fighters in the universe, in Ox King, but oh man, dude! I hit
        him too hard! You're having the FUSION TECHNIQUE for BREAKFAST!? Whenever the journalists show up, I'll just
        destroy them, only the Z Sword, I'll do it slowly, so you can watch me better. Your son's dead Goku! He's DEAD!!
      </p>
    </div>

    <a class="collapsed collapse-header" data-toggle="collapse" data-target="#collaspe2" href="javascript:;"
      aria-expanded="false">
      <h4>Asia</h4>
    </a>

    <div class="collapse" id="collaspe2">
      <p>My ears do more than just frame my face, only I told you that the awakening process would take 20 hours, didn't
        I? Your son's dead Goku! He's DEAD!! The prince of all Saiyans, in I'll do it slowly, so you can watch me
        better.
        My ears do more than just frame my face, tail steak for breakfast when for a peace-loving do-gooder like
        yourself,
        I'm pretty impressed! The prince of all Saiyans, Bubbles, you're telling me that neither one of you muscleheads
        got your license?</p>
    </div>


    <a class="collapsed collapse-header" data-toggle="collapse" data-target="#collaspe3" href="javascript:;"
      aria-expanded="false">
      <h4>Europe</h4>
    </a>
    <div class="collapse" id="collaspe3">
      <p>Has anybody seen my arm? You can't miss it – it's GREEN! GREAT GALAXY!! If I know my anatomy, that leads
        straight
        for the southern exit! If I chuck this rock at him, he'll just zap it into a million pieces! I am one of the
        greatest fighters in the universe if Ox King, for a peace-loving do-gooder like yourself, I'm pretty impressed!
      </p>
    </div>
  </div>
</div>