<section>

  <div class="custom-container">

    <nav class="under-header" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About Ingrasys</li>
      </ol>
    </nav>

    {{!-- banner pic in css --}}
    <div class="about-banner">

    </div>

  </div>

  <div class="custom-container">

    <div class="title-box title-left">
      <h1 class="about-title"> Ingrasys Story</h1>
      <h class="line"> </h>
    </div>
    <br>

    <div class="story-wrapper">
      <div class="story-img">
        <img src="/assets/img/about/office-view.jpg"" alt=" office">

      </div>
      <div class=" story-para">
        <p>
          Ingrasys Technology Inc., founded in February 2002, is a global leading developer in the network computing
          technologies.
          Headquartered in Taoyuan, Taiwan, the company has presently more than 150 employees worldwide. Over 70% are
          engineers
          specialized in network computing technologies developments. Based upon its own innovative SlimServer
          technologies,
          Ingrasys has maintained a steady growth on the business toward the global market. To effectively manage the
          growing
          business, Ingrasys also affiliates with strategic partners in major territories worldwide, such as EU, U.S.,
          Middle
          East, Australia, Asia, and Mainland China. Currently, Ingrasys is dedicating to deliver the solid-state
          networking
          storage device/server, as well as the full spectrum of intelligent embedded network systems and service
          solutions
          for
          the fast-growing network computing environment. With the core technologies integrating the optimized design of
          network
          operating system, software and hardware, Ingrasys provides the breakthrough intelligent network solutions with
          excellent
          usability and reliability to our valuable customers. With extensive experiences in the network computing
          technologies,
          Ingrasys Technology Inc. is continuously aiming as the Best-In-Class technology company that connects all our
          partners
          to the future growth.

        </p>



      </div>

    </div>
  </div>

  <div class="custom-container">

    <div class="title-box title-left">
      <h1 class="about-title"> Leadership</h1>
      <h class="line"> </h>
    </div>
    <br>


    <div class="leader-wrapper">
      <div class="card" ">
      <img src=" /assets/img/about/pcb.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Benjamin Ting</h5>
          <p class="card-text"> Vice President
          </p>
        </div>
      </div>
      <div class="card" ">
          <img src=" /assets/img/about/pcb.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Benjamin Ting</h5>
          <p class="card-text"> Vice President
          </p>
        </div>
      </div>
      <div class="card">
        <img src=" /assets/img/about/pcb.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Benjamin Ting</h5>
          <p class="card-text"> Vice President
          </p>
        </div>
      </div>



    </div>

  </div>

  <div class="custom-container">

    <div class="title-box title-left">
      <h1 class="about-title"> Our Office</h1>
      <h class="line"> </h>
    </div>
    <br>

    <div class="container-boxy">
      <a class="collapsed collapse-header" data-toggle="collapse" data-target="#collaspe1" href="javascript:;"
        aria-expanded="false">
        <h4>North America</h4>
      </a>

      <div class="collapse" id="collaspe1">

        <div class="country-section">

          <div class="country">
            <h4> United States</h4>
          </div>

          <div class="office-container">

            <div class="card card-location">

              <img src=" /assets/img/about/seattle.jpg" class="card-img-top" alt="...">
              <div class="card-body">

                <h class="city-text">Seattle, WA</h>

                <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> 2025 Gateway Pl Suite 190
                  San Jose, CA 95110<br>
                  <i class="fas fa-phone"></i>+1 408-727-8060
                </p>
                <a class="card-text card-address" href="https://goo.gl/maps/L6Ni5MmhgHSzSMXL8">Get Direction</a>
              </div>
            </div>
            <div class="card card-location">
              <img src="/assets/img/about/sanjose.jpg" class="card-img-top" alt="...">
              <div class="card-body">

                <h class="city-text">San Jose, CA</h>
                <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> 2025 Gateway Pl Suite 190
                  San Jose, CA 95110<br>
                  <i class="fas fa-phone"></i>+1 408-727-8060
                </p>
                <a class="card-text card-address" href="https://goo.gl/maps/L6Ni5MmhgHSzSMXL8">Get Direction</a>
              </div>
            </div>
            <div class="card card-location">
              <img src=" /assets/img/about/wisconsin.jpg" class="card-img-top" alt="...">
              <div class="card-body">

                <h class="city-text">Mt Pleasant, WI </h>
                <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> 2025 Gateway Pl Suite 190
                  San Jose, CA 95110<br>
                  <i class="fas fa-phone"></i>+1 408-727-8060
                </p>
                <a class="card-text card-address" href="https://goo.gl/maps/L6Ni5MmhgHSzSMXL8">Get Direction</a>
              </div>
            </div>



          </div>

        </div>

        <div class="country-section">
          <div class="country">
            <h4>Mexico</h4>
          </div>

          <div class="office-container">
            <div class="card card-location">
              <img src="/assets/img/about/mexico.jpg" class="card-img-top" alt="...">
              <div class="card-body">

                <h class="city-text"> Juárez</h>
                <p class="card-text card-address"> 2025 Gateway Pl Suite 190
                  San Jose, CA 95110<br>
                  +1 408-727-8060
                </p>
              </div>
            </div>

            <div class="card card-location">
              <img src="/assets/img/about/gdl.jpg" class="card-img-top" alt="...">
              <div class="card-body">

                <h class="city-text"> Guadalajara</h>
                <p class="card-text card-address"> 2025 Gateway Pl Suite 190
                  San Jose, CA 95110<br>
                  +1 408-727-8060
                </p>
              </div>
            </div>

          </div>
        </div>

      </div>

      <a class="collapsed collapse-header" data-toggle="collapse" data-target="#collaspe2" href="javascript:;"
        aria-expanded="false">
        <h4>Asia</h4>
      </a>

      <div class="collapse" id="collaspe2">
        <div class="country-section">

          <div class="country">
            <h4> Taiwan</h4>
          </div>

          <div class="office-container">

            <div class="card card-location">

              <img src=" /assets/img/about/taipei.jpg" class="card-img-top" alt="...">
              <div class="card-body">

                <h class="city-text">Taipei</h>

                <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> 2025 Gateway Pl Suite 190
                  San Jose, CA 95110<br>
                  <i class="fas fa-phone"></i>+1 408-727-8060
                </p>
                <a class="card-text card-address" href="https://goo.gl/maps/L6Ni5MmhgHSzSMXL8">Get Direction</a>
              </div>
            </div>
            <div class="card card-location">
              <img src=" /assets/img/about/taoyuan.jpg" class="card-img-top" alt="...">
              <div class="card-body">

                <h class="city-text">Taoyuan</h>
                <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> 2025 Gateway Pl Suite 190
                  San Jose, CA 95110<br>
                  <i class="fas fa-phone"></i>+1 408-727-8060
                </p>
                <a class="card-text card-address" href="https://goo.gl/maps/L6Ni5MmhgHSzSMXL8">Get Direction</a>
              </div>
            </div>
            <div class="card card-location">
              <img src=" /assets/img/about/kao.jpg" class="card-img-top" alt="...">
              <div class="card-body">

                <h class="city-text">Kaohsiung </h>
                <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> 2025 Gateway Pl Suite 190
                  San Jose, CA 95110<br>
                  <i class="fas fa-phone"></i>+1 408-727-8060
                </p>
                <a class="card-text card-address" href="https://goo.gl/maps/L6Ni5MmhgHSzSMXL8">Get Direction</a>
              </div>
            </div>



          </div>

        </div>

        <div class="country-section">
          <div class="country">
            <h4> China</h4>
          </div>

          <div class="office-container">
            <div class="card card-location">
              <img src=" /assets/img/about/tienjin.jpg" class="card-img-top" alt="...">
              <div class="card-body">

                <h class="city-text"> Tienjin</h>
                <p class="card-text card-address"> 2025 Gateway Pl Suite 190
                  San Jose, CA 95110<br>
                  +1 408-727-8060
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <a class="collapsed collapse-header" data-toggle="collapse" data-target="#collaspe3" href="javascript:;"
        aria-expanded="false">
        <h4>Europe</h4>
      </a>
      <div class="collapse" id="collaspe3">

        <div class="country-section">

          <div class="country">
            <h4>Hungary</h4>
          </div>

          <div class="office-container">

            <div class="card card-location">

              <img src=" /assets/img/about/hungary.jpg" class="card-img-top" alt="...">
              <div class="card-body">

                <h class="city-text">Hungary</h>

                <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> 2025 Gateway Pl Suite 190
                  San Jose, CA 95110<br>
                  <i class="fas fa-phone"></i>+1 408-727-8060
                </p>
                <a class="card-text card-address" href="https://goo.gl/maps/L6Ni5MmhgHSzSMXL8">Get Direction</a>
              </div>
            </div>



          </div>
        </div>
        <div class="country-section">
          <div class="country">
            <h4>Czech Republic</h4>
          </div>

          <div class="office-container">

            <div class="card card-location">

              <img src=" /assets/img/about/czech.jpg" class="card-img-top" alt="...">
              <div class="card-body">

                <h class="city-text">Czech</h>

                <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> 2025 Gateway Pl Suite 190
                  San Jose, CA 95110<br>
                  <i class="fas fa-phone"></i>+1 408-727-8060
                </p>
                <a class="card-text card-address" href="https://goo.gl/maps/L6Ni5MmhgHSzSMXL8">Get Direction</a>
              </div>
            </div>



          </div>
        </div>
      </div>





    </div>
  </div>
  </div>

</section>