<section>


  <div class="custom-container upper-cool">

    <nav class="under-header" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/">Solution</a></li>
        <li class="breadcrumb-item active" aria-current="page">Advanced Cooling Solution</li>
      </ol>
    </nav>



    {{!-- banner pic in css --}}
    <div class="cooling-banner">

      <img src="" alt="">
    </div>

    <div class="cooling-text">
      <p>
        Fii CESBG will be the first system integrator with vertical integration capabilities on liquid cooling solution
      </p>
    </div>
  </div>

  <div class="custom-container">

    <ul class="nav  nav-tabs " id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">

        <a class="custom-btn active " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" role="tab"
          aria-controls="pills-home" aria-selected="true">Overview</a>

      </li>



      <li class="nav-item" role="presentation ">
        <a class="custom-btn" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" role="tab"
          aria-controls="pills-profile" aria-selected="false">Rack-Level Liquid Cooling</a>
      </li>

      <li class="nav-item" role="presentation ">
        <a class="custom-btn" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" role="tab"
          aria-controls="pills-contact" aria-selected="false">Immersion Cooling</a>
      </li>

    </ul>

    {{!-- content --}}


  </div>

  <div class="tab-content" id="pills-tabContent">

    <div class="acc tab-pane fade show answer answer-1 active" id="pills-home" role="tabpanel"
      aria-labelledby="pills-home-tab">


      <div class="custom-container">

        <div class="sub-container">
          <div class="title-box title-left">
            <h1 class="about-title"> Introduction</h1>
            <h class="line"> </h>
          </div>

          <div class="intro-content">
            <div class="content-text">
              <p>
                Advanced cooling technology will become the key technology with the increasing power consumption of
                chips.
                For higher
                thermal/power demand, Ingrasys offers the rack-level liquid cooling solution and also immersion
                cooling
                solution as the
                high thermal efficiency solution (low PUE).
              </p>

            </div>

            <div class="content-img">
              <img src="/assets/img/cooling/trend.png" alt="">
            </div>

            <div class="content-sliders">

              <div class="card">
                <div class="rack-cool">

                  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">

                    <ul class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ul>

                    <div class="carousel-inner ">

                      <div class="carousel-item active carousel-mobile">
                        <img src="./assets/img/products/SV2080A_index.jpg" alt="First slide">


                      </div>

                      <div class="carousel-item carousel-mobile ">
                        <img src="./assets/img/products/SV2080A_index.jpg" alt="Secod slide">


                      </div>
                      <div class="carousel-item carousel-mobile">

                        <img src="./assets/img/products/SV1020i.jpg" alt="Third slide">


                      </div>

                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>

                  </div>

                </div>


                <div class="card-body">
                  <h5 class="card-title">Rack-Level Liquid
                    Cooling</h5>
                  <hr>
                  <div class="text-box">
                    <p class="card-text"> Our ORv3 Liquid Cooling Rack can use liquid to dissipate the heat from
                      hot-chips without having any data center
                      infrustructure impact. This hybrid solution can provide the benefits of liquid cooling in your
                      traditional air-cooled
                      faciliity. The heat capacity of this solution can be as high as 45 kW/rack.
                    </p>

                    <br>

                  </div>

                </div>
              </div>

              <div class="card">
                <div class="immersion-cool">

                  <div id="carousel-immersion" class="carousel slide carousel-fade" data-ride="carousel">

                    <ul class="carousel-indicators">
                      <li data-target="#carousel-immersion" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel-immersion" data-slide-to="1"></li>
                      <li data-target="#carousel-immersion" data-slide-to="2"></li>
                    </ul>

                    <div class="carousel-inner ">

                      <div class="carousel-item active carousel-mobile">
                        <img src="./assets/img/products/SV2080A_index.jpg" alt="First slide">


                      </div>

                      <div class="carousel-item carousel-mobile ">
                        <img src="./assets/img/products/SV2080A_index.jpg" alt="Secod slide">


                      </div>
                      <div class="carousel-item carousel-mobile">

                        <img src="./assets/img/products/SV1020i.jpg" alt="Third slide">


                      </div>

                    </div>

                    <a class="carousel-control-prev" href="#carousel-immersion" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" href="#carousel-immersion" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>

                  </div>

                </div>


                <div class="card-body">
                  <h5 class="card-title">Immersion Cooling</h5>
                  <hr>
                  <div class="text-box">
                    <p class="card-text">
                      In our immersion cooling system, electronic components are submerged into a tank with dielectric
                      heat transfer liquid.
                      With this supremely energy-efficient cooling system, we now have cooling capacity up to 50
                      kW/tank.
                    </p>
                    <br>

                  </div>



                </div>
              </div>


            </div>



          </div>

        </div>



      </div>

      <div class="custom-container">

        <div class="sub-container">
          <div class="title-box title-left">

            <h1 class="about-title"> Solutions for Data Center</h1>
            <h class="line"> </h>
            <br>
          </div>

          <div class="standard-container">
            <div class="standard-img">
              <img src="/assets/img/cooling/coolingdata2.png" alt="">
            </div>

            <div class="standard-content">
              <div class="standard-line">
                <h1 class="standard-title">
                  <i class="far fa-shield-check"></i> Power Density
                </h1>
                <p class="standard-detail">
                  Traditional Air Cooling could only solve power dissipation under 350W. With our Advanced cooling
                  solution, we aimed to
                  provied higher power demand
                </p>

              </div>
              <div class="standard-line">
                <h1 class="standard-title">
                  <i class="far fa-shield-check"></i> Low PUE
                </h1>
                <p class="standard-detail">
                  PUE (Power Usage Effectiveness) is the ratio of the total amount of energy used by data center
                  facility. Our expertise
                  provides dominantly low PUE
                </p>

              </div>
              <div class="standard-line">
                <h1 class="standard-title">
                  <i class="far fa-shield-check"></i> Easy Maintenance
                </h1>
                <p class="standard-detail">
                  Blind mate design enables the front-side service of all the gears in the rack
                  Hot-swappable fans, pump, and PSUs of RPU/ CDU

                </p>

              </div>

              <div class="standard-line">
                <h1 class="standard-title">
                  <i class="far fa-shield-check"></i> Anti-Noise
                </h1>
                <p class="standard-detail">
                  By good cooling management, and the the impact of noise and vibration is lowered. It helps you to
                  enhance the system
                  reliability
                </p>

              </div>

            </div>

          </div>

        </div>


      </div>


    </div>

    <div class="tab-pane fade answer answer-2" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

      <div id="immersion-cooling">

      </div>

      <div class="custom-container">

        <div class="sub-container">
          <div class="title-box title-left">
            <h1 class="about-title"> Introduction</h1>
            <h class="line"> </h>
          </div>

          <div class="intro-content">
            <div class="content-text">
              <p>
                Advanced cooling technology will become the key technology with the increasing power consumption of
                chips.
                For higher
                thermal/power demand, Ingrasys offers the rack-level liquid cooling solution and also immersion
                cooling
                solution as the
                high thermal efficiency solution (low PUE).
              </p>

            </div>

            <div class="content-video">
              <video controls="true" class="embed-responsive-item">
                <source src="/assets/img/cooling/immerison_cooling.mp4" type="video/mp4" />
              </video>

            </div>


          </div>

        </div>

      </div>

      <div class="custom-container">

        <div class="sub-container">
          <div class="title-box title-left">

            <h1 class="about-title"> Advantage</h1>
            <h class="line"> </h>
            <br>
          </div>

          <div class="app-container">
            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/private_cloud.png" alt="">
              <br>
              <p class="item-title ">Superior Pue < 1.4</p>
                  <p class="item-content">Better power efficiency comparing to the traditional air cooling solutions
                  </p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
              <br>
              <p class="item-title">Cooling capacity up to 45KW</p>
              <p class="item-content">High cooling capacity gives you more application choice
              </p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
              <br>
              <p class="item-title">High Servicibility</p>
              <p class="item-content">The liquid-to-air solution requires no facility change. You can keep current data
                center infrastructure. Front-side service: Blind mate connection design between the server and the
                manifold.
              </p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
              <br>
              <p class="item-title">Management Control System</p>
              <p class="item-content">Can monitor liquid / air flow rate, water / air temperature, pump speed, RDHx fan
                speed and provide a high reliablity
                control.
              </p>
            </div>


          </div>





        </div>


      </div>

      <div class="custom-container">

        <div class="sub-container">
          <div class="title-box title-left">

            <h1 class="about-title"> Advantage</h1>
            <h class="line"> </h>
            <br>
          </div>

          <div class="app-container">
            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/private_cloud.png" alt="">
              <br>
              <p class="item-title ">Superior Pue < 1.4</p>
                  <p class="item-content">Better power efficiency comparing to the traditional air cooling solutions
                  </p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
              <br>
              <p class="item-title">Cooling capacity up to 45KW</p>
              <p class="item-content">High cooling capacity gives you more application choice
              </p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
              <br>
              <p class="item-title">High Servicibility</p>
              <p class="item-content">The liquid-to-air solution requires no facility change. You can keep current data
                center infrastructure. Front-side service: Blind mate connection design between the server and the
                manifold.
              </p>
            </div>

            <div class="app-item">
              <img class="item-img" src="/assets/img/icons/data-center.png" alt="">
              <br>
              <p class="item-title">Management Control System</p>
              <p class="item-content">Can monitor liquid / air flow rate, water / air temperature, pump speed, RDHx fan
                speed and provide a high reliablity
                control.
              </p>
            </div>


          </div>





        </div>


      </div>

      <div class="custom-container">

        <div class="sub-container">
          <div class="title-box title-left">

            <h1 class="about-title"> Solution - OrV3 Liquid-to-Air</h1>
            <h class="line"> </h>
            <br>
          </div>

          <div class="solution-container">

            <table class="table solution-item">
              <tbody>
                <tr class="first-row">
                  <th scope="row"> </th>
                  <td>Immersion Cooling Tank
                  </td>
                </tr>
                <tr>
                  <th scope="row"> Cooling Mechanism</th>
                  <td>Single Phase
                  </td>
                </tr>
                <tr>
                  <th scope="row">Tank Size</th>
                  <td>1650MM X 900mm x 1508mm - 24U
                  </td>
                </tr>
                <tr>
                  <th scope="row">Tank Weight</th>
                  <td>2500KG including the coolant and IT
                  </td>
                </tr>
                <tr>
                  <th scope="row">Computing Power</th>
                  <td>15KW (50KW Ready)
                  </td>
                </tr>

                <tr>
                  <th scope="row">Tank PUE</th>
                  <td>Avg. < 1.03 </td>
                </tr>

              </tbody>
            </table>

            <div class="rack solution-item">
              <img src="/assets/img/cooling/tank.png" alt="">
            </div>





          </div>

          <div class="title-box title-left">

            <h1 class="about-title"> Unit</h1>
            <br>
          </div>
          <div class="solution-container">

            <table class="table solution-item">
              <tbody>
                <tr class="first-row">
                  <th scope="row"> </th>
                  <td>Immersion Cooling Tank
                  </td>
                </tr>
                <tr>
                  <th scope="row"> Cooling Mechanism</th>
                  <td>Single Phase
                  </td>
                </tr>
                <tr>
                  <th scope="row">Tank Size</th>
                  <td>1650MM X 900mm x 1508mm - 24U
                  </td>
                </tr>
                <tr>
                  <th scope="row">Tank Weight</th>
                  <td>2500KG including the coolant and IT
                  </td>
                </tr>
                <tr>
                  <th scope="row">Computing Power</th>
                  <td>15KW (50KW Ready)
                  </td>
                </tr>

                <tr>
                  <th scope="row">Tank PUE</th>
                  <td>Avg. < 1.03 </td>
                </tr>

              </tbody>
            </table>

            <div class="rack solution-item">
              <img src="/assets/img/cooling/tank.png" alt="">
            </div>



          </div>

          <div class="title-box title-left">

            <h1 class="about-title"> Unit</h1>
            <br>
          </div>
          <div class="unit-container">
            <div id="multi-slider" class="carousel" data-ride="carousel">

              <!-- Controls -->
              <div class="text-center mb-4 side-controls">
                <a href="#multi-slider" data-slide="prev">
                  <i class="fas fa-chevron-circle-left"></i>
                </a>
                <a href="#multi-slider" data-slide="next">
                  <i class="fas fa-chevron-circle-right"></i>
                </a>
              </div>

              <!-- Slideshow -->
              <div class="carousel-inner">

                <!-- First item -->
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="https://mdbootstrap.com/img/Photos/Others/img (34).jpg" alt="">
                    </div>
                  </div>
                </div>

                <!-- Rest of the items -->
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="https://mdbootstrap.com/img/Photos/Others/img (35).jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="https://mdbootstrap.com/img/Photos/Others/img (36).jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="https://mdbootstrap.com/img/Photos/Others/img (39).jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="https://mdbootstrap.com/img/Photos/Others/img (40).jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>


        </div>


      </div>


    </div>

    <div class="tab-pane fade answer answer-3" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
      <div class="custom-container">

        <div class="sub-container">
          <div class="title-box title-left">
            <h1 class="about-title"> Introduction</h1>
            <h class="line"> </h>
          </div>

          <div class="intro-content">
            <div class="content-text">
              <p>
                In our single-phase immersion cooling system, electronic components are submerged into our cooling tank,
                which is filled
                with dielectric heat transfer liquid. Whole IT gears's heat is removed from the heat exchange system by
                circulating the
                liquid into direct contact with hot components, whereby the liquid takes away the heat efficiently.
              </p>

            </div>

            <div class="content-video">
              <video controls="true" class="embed-responsive-item">
                <source src="/assets/img/cooling/immerison_cooling.mp4" type="video/mp4" />
              </video>

            </div>


          </div>

        </div>

      </div>

      <div class="custom-container">

        <div class="sub-container">
          <div class="title-box title-left">

            <h1 class="about-title"> Advantage</h1>
            <h class="line"> </h>
            <br>
          </div>

          <div class="app-container">
            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/private_cloud.png" alt="">
              <br>
              <p class="item-title ">Superior PUE < 1.4</p>
                  <p class="item-content">Better power efficiency comparing to the traditional air cooling solutions
                  </p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
              <br>
              <p class="item-title">Cooling capacity up to 45KW</p>
              <p class="item-content">High cooling capacity gives you more application choice
              </p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
              <br>
              <p class="item-title">High Servicibility</p>
              <p class="item-content">The liquid-to-air solution requires no facility change. You can keep current data
                center infrastructure. Front-side service: Blind mate connection design between the server and the
                manifold.
              </p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
              <br>
              <p class="item-title">Management Control System</p>
              <p class="item-content">Can monitor liquid / air flow rate, water / air temperature, pump speed, RDHx fan
                speed and provide a high reliablity
                control.
              </p>
            </div>


          </div>





        </div>


      </div>

      <div class="custom-container">

        <div class="sub-container">
          <div class="title-box title-left">

            <h1 class="about-title"> Solution - OrV3 Liquid-to-Air</h1>
            <h class="line"> </h>
            <br>
          </div>

          <div class="solution-container">

            <table class="table solution-item">
              <tbody>
                <tr class="first-row">
                  <th scope="row"> </th>
                  <td>Immersion Cooling Tank
                  </td>
                </tr>
                <tr>
                  <th scope="row"> Cooling Mechanism</th>
                  <td>Single Phase
                  </td>
                </tr>
                <tr>
                  <th scope="row">Tank Size</th>
                  <td>1650MM X 900mm x 1508mm - 24U
                  </td>
                </tr>
                <tr>
                  <th scope="row">Tank Weight</th>
                  <td>2500KG including the coolant and IT
                  </td>
                </tr>
                <tr>
                  <th scope="row">Computing Power</th>
                  <td>15KW (50KW Ready)
                  </td>
                </tr>

                <tr>
                  <th scope="row">Tank PUE</th>
                  <td>Avg. < 1.03 </td>
                </tr>

              </tbody>
            </table>

            <div class="rack solution-item">
              <img src="/assets/img/cooling/tank.png" alt="">
            </div>





          </div>

          <div class="title-box title-left">

            <h1 class="about-title"> Unit</h1>
            <br>
          </div>

          <div class="unit-container">
            <div id="multi-slider" class="carousel" data-ride="carousel">

              <!-- Controls -->
              <div class="text-center mb-4 side-controls">
                <a href="#multi-slider" data-slide="prev">
                  <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#multi-slider" data-slide="next">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>

              <!-- Slideshow -->
              <div class="carousel-inner">

                <!-- First item -->
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-md-4">
                      <a class="image-popup-vertical-fit"
                        href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg">
                        <img src=" https://mdbootstrap.com/img/Photos/Others/img (34).jpg" alt="">
                      </a>
                    </div>
                  </div>
                </div>

                <!-- Rest of the items -->
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-4">
                      <a class="image-popup-vertical-fit"
                        href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg">
                        <img src=" https://mdbootstrap.com/img/Photos/Others/img (34).jpg" alt="">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-4">
                      <a class="image-popup-vertical-fit"
                        href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg">
                        <img src=" https://mdbootstrap.com/img/Photos/Others/img (34).jpg" alt="">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-4">
                      <a class="image-popup-vertical-fit"
                        href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg">
                        <img src=" https://mdbootstrap.com/img/Photos/Others/img (34).jpg" alt="">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-4">
                      <a class="image-popup-vertical-fit"
                        href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg">
                        <img src=" https://mdbootstrap.com/img/Photos/Others/img (34).jpg" alt="">
                      </a>
                    </div>
                  </div>
                </div>


              </div>


            </div>
          </div>


        </div>


      </div>


    </div>
  </div>



</section>