<section>

  <div class="custom-container">

    <nav class="under-header" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/">Solution</a></li>
        <li class="breadcrumb-item active" aria-current="page">Advanced Cooling Solution</li>
      </ol>
    </nav>
    {{!-- banner pic in css --}}
    <div class="cooling-banner">
      <img src="" alt="">
    </div>
  </div>

  <div class="custom-container">

    <ul class="nav  nav-tabs " id="pills-tab" role="tablist">
      <li class="nav-item " role="presentation">
        <a class="custom-btn active " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" role="tab"
          aria-controls="pills-home" aria-selected="true">Overview</a>
      </li>


      <li class="nav-item" role="presentation ">
        <a class="custom-btn" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" role="tab"
          aria-controls="pills-profile" aria-selected="false">Spec</a>
      </li>

      <li class="nav-item" role="presentation ">
        <a class="custom-btn" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" role="tab"
          aria-controls="pills-contact" aria-selected="false">Download</a>
      </li>

    </ul>

    {{!-- content --}}

    <div class="tab-content" id="pills-tabContent">

      <div class="acc tab-pane fade show answer answer-1 active" id="pills-home" role="tabpanel"
        aria-labelledby="pills-home-tab">


        <div class="custom-container">

          <div class="sub-container">
            <div class="title-box title-left">
              <h1 class="about-title"> Introduction</h1>
              <h class="line"> </h>
            </div>

            <div class="intro-content">
              <div class="content-text">
                <p>
                  Advanced cooling technology will become the key technology with the increasing power consumption of
                  chips.
                  For higher
                  thermal/power demand, Ingrasys offers the rack-level liquid cooling solution and also immersion
                  cooling
                  solution as the
                  high thermal efficiency solution (low PUE).
                </p>

              </div>

              <div class="content-img">
                <img src="" alt="">
              </div>

              <div class="content-sliders">

                <div class="card">
                  <div class="rack-cool">

                    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">

                      <ul class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ul>

                      <div class="carousel-inner ">

                        <div class="carousel-item active carousel-mobile">
                          <img src="./assets/img/products/SV2080A_index.jpg" alt="First slide">


                        </div>

                        <div class="carousel-item carousel-mobile ">
                          <img src="./assets/img/products/SV2080A_index.jpg" alt="Secod slide">


                        </div>
                        <div class="carousel-item carousel-mobile">

                          <img src="./assets/img/products/SV1020i.jpg" alt="Third slide">


                        </div>

                      </div>

                      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>

                      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>

                    </div>

                  </div>


                  <div class="card-body">
                    <h5 class="card-title">SV2020A</h5>
                    <hr>
                    <div class="text-box">
                      <li class="card-text">2 x 3rd Gen AMD EPYC™ </li>
                      <li class="card-text">32 x DIMMs</li>
                      <li class="card-text">26 x 2.5" Drives</li>
                      <li class="card-text">2U </li>
                      <br>

                    </div>


                    <a href="#" class="btn btn-primary">View More</a>
                  </div>
                </div>

                <div class="card">
                  <div class="immersion-cool">

                    <div id="carousel-immersion" class="carousel slide carousel-fade" data-ride="carousel">

                      <ul class="carousel-indicators">
                        <li data-target="#carousel-immersion" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-immersion" data-slide-to="1"></li>
                        <li data-target="#carousel-immersion" data-slide-to="2"></li>
                      </ul>

                      <div class="carousel-inner ">

                        <div class="carousel-item active carousel-mobile">
                          <img src="./assets/img/products/SV2080A_index.jpg" alt="First slide">


                        </div>

                        <div class="carousel-item carousel-mobile ">
                          <img src="./assets/img/products/SV2080A_index.jpg" alt="Secod slide">


                        </div>
                        <div class="carousel-item carousel-mobile">

                          <img src="./assets/img/products/SV1020i.jpg" alt="Third slide">


                        </div>

                      </div>

                      <a class="carousel-control-prev" href="#carousel-immersion" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>

                      <a class="carousel-control-next" href="#carousel-immersion" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>

                    </div>

                  </div>


                  <div class="card-body">
                    <h5 class="card-title">SV2020A</h5>
                    <hr>
                    <div class="text-box">
                      <li class="card-text">2 x 3rd Gen AMD EPYC™ </li>
                      <li class="card-text">32 x DIMMs</li>
                      <li class="card-text">26 x 2.5" Drives</li>
                      <li class="card-text">2U </li>
                      <br>

                    </div>


                    <a href="#" class="btn btn-primary">View More</a>
                  </div>
                </div>


              </div>



            </div>

          </div>



        </div>

        <div class="custom-container">

          <div class="sub-container">
            <div class="title-box title-left">

              <h1 class="about-title"> Solutions for Data Center</h1>
              <h class="line"> </h>
              <br>
            </div>

            <div class="standard-container">
              <div class="standard-img">
                <img src="/assets/img/cooling/coolingdata2.png" alt="">
              </div>

              <div class="standard-content">
                <div class="standard-line">
                  <h1 class="standard-title">
                    <i class="far fa-shield-check"></i> Low PUE
                  </h1>
                  <p class="standard-detail">
                    much more power efficient compare to air cooling, where the majority of cooling energy expenditure
                    in
                    a data center
                    comes from fans and air condition.
                  </p>

                </div>
                <div class="standard-line">
                  <h1 class="standard-title">
                    <i class="far fa-shield-check"></i> Low PUE
                  </h1>
                  <p class="standard-detail">
                    much more power efficient compare to air cooling, where the majority of cooling energy expenditure
                    in
                    a data center
                    comes from fans and air condition.
                  </p>

                </div>
                <div class="standard-line">
                  <h1 class="standard-title">
                    <i class="far fa-shield-check"></i> Low PUE
                  </h1>
                  <p class="standard-detail">
                    much more power efficient compare to air cooling, where the majority of cooling energy expenditure
                    in
                    a data center
                    comes from fans and air condition.
                  </p>

                </div>



              </div>



            </div>

          </div>


        </div>

      </div>

      {{!-- <div class="tab-pane fade answer answer-2" id="pills-profile" role="tabpanel"
        aria-labelledby="pills-profile-tab">
        <div class="custom-container">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Processor</th>
                <td>One/Two 2nd/3rd Generation AMD EPYCTM processor (Rome/Milan) per node
                  Up to 32 cores, 180W (TDP)
                </td>
              </tr>

              <tr>
                <th scope="row">Memory
                </th>
                <td>Up to 16x DDR4 RDIMM/LRDIMM per node</td>

              </tr>

              <tr>
                <th scope="row">Storage</th>
                <td>Front:<br>
                  SKU 1: 12x 2.5"/3.5” hot-swap SATA drives per chassis (3x drives per node)
                  SKU 2: 24x 2.5” hot-swap U.2 NVMe drives per chassis (6x drives per node)
                  SKU 3: 12x 3.5” hot-swap SATA or 2.5" hot-swap NVMe drives per chassis (3x drives
                  <br>
                  Internal:<br>
                  1x SATA/NVMe M.2 (2280/22110) per node
                  1x SATA M.2 (2280/22110) per node
                  <br>
                  Rear:<br>
                  1x 2.5” hot-swap 7/15mm U.2 NVMe SSD per node
                  (Optional for single processor configuration, occupy one PCIe LP slot)

                </td>

              </tr>

              <tr>
                <th scope="row">Front Panel (per Node)</th>
                <td>Front:<br>
                  1 x Power Button with LED<br>
                  1 x UID Button with LED<br>
                  1 x System Health LED<br>

                </td>

              </tr>

              <tr>
                <th scope="row">Rear Panel (per Node)</th>
                <td>Front:<br>
                  1 x RJ45 for BMC Dedicated Management<br>
                  1 x VGA<br>
                  2 x USB 3.0<br>
                  1 x UID Button with LED<br>
                </td>

              </tr>
              <tr>
                <th scope="row">TPM</th>
                <td>1 x TPM 2.0 Module per Node
                </td>

              </tr>



              <tr>
                <th scope="row">Expansion Slots</th>
                <td>Slots Up to 2x PCIe Gen4 x16 LP slot per node (by SKU)
                  1x OCP3.0 NIC PCIe Gen4 x16 per node

                </td>
              </tr>
              <tr>
                <th scope="row">Management</th>
                <td>1 x ASPEED AST2500 BMC per Node
                  Support Intelligent Platform Management Interface v.2.0

                </td>
              </tr>
              <tr>
                <th scope="row">PSUs</th>
                <td>1+1 Redundant 3000W Platinum PSU
                  (2200W for Single Processor Configuration)
                </td>
              </tr>
              <tr>
                <th scope="row">Fans</th>
                <td>3 x 40*56mm per Node,12 x per Chassis
                </td>
              </tr>
              <tr>
                <th scope="row">Certification</th>
                <td>FCC/CE/UL/CB/BSMI
                </td>
              </tr>

              <tr>
                <th scope="row">Chasis Dimensions</th>
                <td>(H x W x D)
                  <br>
                  3.42” x 17.6” x 33.17” / 87.0mm x 447.0mm x 842.4mm

                </td>
              </tr>
              <tr>
                <th scope="row">Operating Temperature</th>
                <td>
                  5°C to 35°C (41°F to 95°F)
                </td>
              </tr>
              <tr>
                <th scope="row">Non-operating Temperature</th>
                <td>
                  -40°C to 70°C (-40°F to 158°F)
                </td>
              </tr>

              <tr>
                <th scope="row">Operating Relative Humidity</th>
                <td>
                  8% to 90%RH
                </td>
              </tr>
              <tr>
                <th scope="row">Non-operating Relative Humidity</th>
                <td>
                  5% to 90%RH
                </td>
              </tr </tbody>
          </table>
        </div>
      </div>

      <div class="tab-pane fade answer answer-3" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="custom-container">
          <div class="table-responsive ">
            <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle ">
              <thead class="table-lightgray  border-bottom">
                <tr style="vertical-align: middle !important;text-align: center;">
                  <th style="vertical-align: middle !important;text-align: center;">File</th>
                  <th style="vertical-align: middle !important;text-align: center;">Update Date</th>
                  <th style="vertical-align: middle !important;text-align: center;">Download PDF</th>

                </tr>
              </thead>
              <tbody>

                <tr class="border-bottom">
                  <td style="vertical-align: middle !important;text-align: center;">SV2080A</td>
                  <td style="vertical-align: middle !important;text-align: center;">05/2021</td>
                  <td style="vertical-align: middle !important;text-align: center;"><a
                      href="files/SV1020i_Data sheet.pdf" class="btn btn-xs btn-white"><i
                        style="color: white; font-size:2rem" class="fas fa-download"></i></a>
                  </td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>



      </div> --}}
    </div>

  </div>



</section>