<section>


  <div class="custom-container">

    <nav class="under-header" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">CSR</li>
      </ol>
    </nav>

    <div class="csr-banner">
      <img src="" alt="">
    </div>

  </div>


  <div class="custom-container csr-bottom">
    <div class="csr-wrapper">
      <div class="csr-p1">

        <h1>Ingrasys Technology Co., Ltd.</h1>
        <br>

        <p>
          In order to promote labor human rights and promote full communication between the company and employees,
          Ingrasys
          Technology follows the various service items to clearly reveal the system within which all employees can
          respond, appeal
          or vote, and set up a “factory mailbox” to ensure the strictest perspective The freedom and confidentiality of
          colleagues to submit books. It also regularly holds [labor-management meetings] to ensure smooth communication
          channels,
          guarantee the power of labor organizations and collective bargaining, and promote healthy and positive
          labor-management
          relations. In addition, for Ingrasys Technology's supplier management, [Supplier Management Operating
          Procedures] have
          been established for them to follow, expanding the scope of corporate social responsibility impact, and
          [Business Ethics
          Management Procedures] have been added to ensure that all business interactions of the company follow the
          highest
          Integrity standards to ensure that employees do not offer or receive bribes or other forms of improper
          benefits.

        </p>
        <br>
        <ul>
          <li class="lupd2">
            Freedom of choice of occupation-It is forbidden to collect deposits and detain documents from workers, and
            it
            is
            strictly forbidden to use involuntary and exploitative prison prisoners, contractual restricted labor, debt
            labor,
            slave labor, human trafficking.
          </li>
          <li class="lupd2">
            No Child Labor-Establish child labor review and misuse of child labor protections.
          </li>
          <li class="lupd2">
            Appropriate Working Hours-Comply with applicable laws, industry standards, and customer behavior codes.
          </li>
          <li class="lupd2">
            Reasonable remuneration-The remuneration given to employees meets the basic requirements of the regulations
            (excluding any overtime and other subsidies), and the working hours meet the required requirements.
          </li>
          <li class="lupd2">
            Humane treatment-Punishment, forced, involuntary labor is strictly prohibited, and punitive management
            measures are
            prohibited.
          </li>
          <li class="lupd2">
            Non-discrimination-eliminate employment, salary, training, promotion, dismissal, etc. based on race, color,
            age,
            gender, sexual orientation, gender identity and performance, race or ethnicity, disability, pregnancy,
            belief,
            political position, group background Discrimination, veteran status, protected genetic information, marital
            status,
            or filing a complaint, etc.
          </li>
          <li class="lupd2">
            Freedom of Association-Respect for employees' right to associate freely, join unions, and collective
            bargaining.
          </li>
          <li class="lupd2">
            Health and Safety-Committed to providing employees with a healthy and safe working environment and reducing
            potential hazards at work.
          </li>
          <li class="lupd2">
            Occupational risk control-Provide employees with appropriate safety training and protective equipment,
            assess
            the
            risk of work hazards within the company, and establish emergency response plans to respond to disasters.
          </li>
          <li class="lupd2">
            Resource conservation-comply with environmental regulations, save resources, set up management methods and
            advocacy
            training, achieve the purpose of energy conservation and carbon reduction, and reduce the risk of safety
            hazards and
            environmental shocks.
          </li>
          <li class="lupd2">
            Business integrity-All personnel must not use any illegal or unethical methods to obtain competitive
            advantages and
            improper benefits.
          </li>
          <li class="lupd2">
            No Improper Interests-Don't receive bribes through duties, take profits against business ethics and create
            conflicts
            of interest.
          </li>
          <li class="lupd2">
            Information Disclosure, Intellectual Property and Privacy-Disclose business information in accordance with
            industry
            practices and protect the privacy of intellectual property and stakeholders.
          </li>
          <li class="lupd2">
            Appropriate Advertising and Fair Trading-Adopt the competitive principles of fair trading and advertising,
            and
            do
            not gain any benefit from any third party through joint monopoly or collusion.
          </li>
          <li class="lupd2">
            Management System-Commitment to establish, maintain and improve the company's social responsibility
            management
            system, and allow employees to fully train and learn to understand social responsibility requirements.
          </li>
          <li class="lupd2">
            Goal Management and Continuous Improvement-Set goals to improve the effectiveness of the social
            responsibility
            management system and continuously improve it.
          </li>
          <li class="lupd2">
            Decentralization and responsibility-designated senior management to regularly review the company's policies,
            measures and implementation results in accordance with this standard and other regulations signed by the
            company.
          </li>
          <li class="lupd2">
            Regulatory compliance and risk management-regularly review regulations and confirm compliance with
            regulations,
            conduct regular risk management activities, and effectively reduce risk events.
          </li>
          <li class="lupd2">
            Internal audit management review-regularly review and review the adequacy, applicability and continuous
            effectiveness of the management system, and make corrections and improvements if necessary.
          </li>
          <li class="lupd2">
            Communication, suggestion, participation, feedback-promise to disclose the company's social responsibility
            status
            and improvement plan to all employees, customers, cooperative suppliers and other relevant parties through
            the
            company's website, bulletin boards, promotional materials, customer site visits, etc., and accept the public
            Supervision or advice.
          </li>
          <li class="lupd2">
            Supplier Management-Controls suppliers / subcontractors in accordance with the requirements of RBA standards
            and
            related customer code of conduct.
          </li>
          <li class="lupd2">
            The provisions of this statement are provided for understanding. The detailed terms and any additions or
            changes are
            subject to the Code of Conduct of the Responsible Business Alliance.
          </li>
          <li class="lupd2">
            【Responsible Business Alliance Code of Conduct】<a href="http://www.responsiblebusiness.org/"
              target="_blank">www.responsiblebusiness.org</a> for relevant information.
          </li>
        </ul>

      </div>
      <br>

      <div class="csr-p2">

        <h1>Social responsibility performance</h1>
        <br>
        <ul>
          <li class="lupd">
            Labor
            <ol>
              <li>
                100% health check rate of employees (have been employed for one year)
              </li>
              <li>
                Child labor is prohibited in human employment
              </li>
            </ol>
          </li>
          <li class="lupd">
            Environmental protection
            <ol>
              <li>
                ISO 14001: 2015 environmental management system and passed third-party verification
              </li>
              <li>
                overall waste recovery rate is 77%
              </li>
            </ol>
          </li>
          <li class="lupd">
            Health and safety
            <ol>
              <li>
                Passed ISO 45001: 2018 Occupational Safety and Health Management System International Certification
                Standard
              </li>
              <li>
                Zero major injuries and occupational diseases
              </li>
              <li>
                Twice a year fire and chemical disaster emergency response
              </li>
              <li>
                Fire safety education training participation rate 100%
              </li>
            </ol>
          </li>
          <li class="lupd">
            Responsible procurement
            <ol>
              <li>
                100% of qualified suppliers of conflict minerals
              </li>
              <li>
                Manpower and service outsourcing vendors perform on-site audits (17 companies)
              </li>
            </ol>
          </li>
          <li class="lupd">
            Ethics
            <ol>
              <li>
                Any insider trading, monopoly and other unfair trading practices are prohibited
              </li>
              <li>
                100% participation rate in ethics/labor conditions education and training
              </li>
            </ol>
          </li>
        </ul>

      </div>

      <br>

      <div class="csr-p3">
        <h1>Stakeholder feedback</h1>
        <br>
        <p>
          In order to pursue sustainable development, we hope to establish a transparent and effective communication
          method for
          all stakeholders, and achieve the protection of the rights of all stakeholders through perfect communication.
          If
          you
          have any suggestions or questions, you are welcome to contact us. The contact information is as follows :
          <br />
        </p>
        <br>
        <ul>
          <li>
            Contact window：Ethan Lan
          </li>
          <li>
            Phone number： +886-3-2718288 EXT.15692
          </li>
          <li>
            Address： No. 1188, Nanqing Rd., Luzhu Dist., Taoyuan City 338, Taiwan (R.O.C.)
          </li>
          <li>
            E-mail ：ethanlan@ingrasys.com
          </li>
        </ul>
      </div>
    </div>
  </div>



  </div>

</section>