<section>


  <div class="custom-container">

    <nav class="under-header" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Download</li>
      </ol>
    </nav>

    <div class="dl-banner">
      <img src="" alt="">
    </div>

  </div>


  <div class="custom-container dl-bottom">



    <div class="title-box title-left">
      <h1 class="about-title">Product Datasheets</h1>
      <h class="line"> </h>
    </div>



    <div class="dl-container">
      <div class="table-dl">

        <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle ">
          <thead class="table-lightgray border-bottom">
            <tr>
              <th>Type</th>
              <th>File</th>
              <th>Update Date</th>
              <th>Download PDF</th>

            </tr>
          </thead>

          <tbody>

            <tr class="border-bottom">
              <td>Server</td>
              <td>SV2080A</td>
              <td>05/2021</td>
              <td><a href="files/SV1020i_Data sheet.pdf" class="btn btn-xs btn-white"><i
                    class="fas fa-download"></i></a>
              </td>

            </tr>

            <tr class="border-bottom">
              <td>Server</td>
              <td>SV2020A</td>
              <td>05/2021</td>
              <td><a href="files/SV1020i_Data sheet.pdf" class="btn btn-xs btn-white"><i
                    class="fas fa-download"></i></a>
              </td>
            </tr>

            <tr class="border-bottom">
              <td>Server</td>
              <td>SV1020i</td>
              <td>05/2021</td>
              <td><a href="files/SV1020i_Data sheet.pdf" class="btn btn-xs btn-white"><i
                    class="fas fa-download"></i></a>
              </td>

            </tr>

            <tr class="border-bottom">
              <td>Storage</td>
              <td>ES2000</td>
              <td>05/2021</td>
              <td><a href="files/SV1020i_Data sheet.pdf" class="btn btn-xs btn-white"><i
                    class="fas fa-download"></i></a>
              </td>

            </tr>

            <tr class="border-bottom">
              <td>HPC Accelerator</td>
              <td>EB3000</td>
              <td>05/2021</td>
              <td><a href="files/SV1020i_Data sheet.pdf" class="btn btn-xs btn-white"><i
                    class="fas fa-download"></i></a>
              </td>

            </tr>

            <tr class="border-bottom">
              <td>Workstation</td>
              <td>WS5010A</td>
              <td>05/2021</td>
              <td><a href="files/SV1020i_Data sheet.pdf" class="btn btn-xs btn-white"><i
                    class="fas fa-download"></i></a>
              </td>

            </tr>




          </tbody>
        </table>
      </div>
    </div>


  </div>


  </div>



  </div>

</section>