<section id="focus" class="focus">

  <div class="custom-container upper-banner">


    <div class="banner-wrapper">


      <div class="main-caption background-image">
        <div class="caption-title">
          <h1>NEXT LEVEL<br> HCI & SERVER
          </h1>

        </div>
        <!-- </h1> -->
        <span class="line"></span>
        <p class="caption-description">Your <font color="#F58522">f</font>uture <font color="#F58522">i</font>nnovative
          <font color="#F58522">i</font>ntelligent
          <br>
          solutions provider
        </p>
        <!--        video play 之後有影片可以放出來 -->
        {{!-- <div class="caption-video">
          <a class="video-play-button" id="youtube">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
              y="0px" viewBox="0 0 104 104" enable-background="new 0 0 104 104" xml:space="preserve">
              <path fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" d="M26,35h52L52,81L26,35z" />
              <circle class="video-play-circle" fill="none" stroke="#F58522" stroke-width="8" stroke-miterlimit="10"
                cx="52" cy="52" r="50" />
            </svg>
            <span class="video-play-outline"></span>
          </a>
        </div> --}}

      </div>
    </div>

  </div>




  <div class="custom-container">
    <div class="particles-reference">
      <div id="particles-js">
      </div>

      <div class="focus-wrapper">

        <div class="title-box ">
          <h1 class="focus-title"> Our Focus
          </h1>
          <h class="line"> </h>
        </div>

        <div class="focus-content">
          <div class="focus-item" id="item-1">
            <img src="./assets/img/index/hci.jpg" alt="none" class="category-img">
            <h style="background-image:url(./assets/img/icons/cloud-infrustructure.svg)" class="focus-name">CLOUD
              INFRASTRUCTURE


            </h>
            <p class="focus-description">
              Ingrasys provides a software-defined centralized approach for partners to build a flexible and manageable
              data
              center
              infrastructure
            </p>

          </div>
          <div class="focus-item" id="item-2">
            <img src="./assets/img/index/hpc.jpg" alt="none" class="category-img">
            <h class="focus-name"> <i class="fas fa-laptop-code" style="color:#F58522"></i> HPC </h>
            <p class="focus-description">
              Ingrasys HPC includes CDI architecture, back end cloud integration framework, and auxiliary annotation
              platform for AI
              model training
            </p>
            <div>
              <div>
              </div>


            </div>


          </div>
          <div class="focus-item" id="item-3">
            <img src="./assets/img/index/cooldown.JPG" alt="" class="category-img">
            <h style="background-image:url(./assets/img/icons/cooling.svg)" class="focus-name">ADVANCED
              COOLING SYSTEM </h>
            <p class="focus-description">
              To adapt to future thermal design requirements, Ingrasys is committed to the design and production of
              Advance Cooling
              Systems
            </p>
            <div>
              <div>
              </div>


            </div>


          </div>
          <div class="focus-item" id="item-4">
            <img src="./assets/img/index/smartmanu.jpg" alt="none" class="category-img">
            <h style="background-image:url(./assets/img/icons/smart-manufacturing.svg)" class="focus-name">SMART
              MANUFACTURING

            </h>
            <p class="focus-description">
              Our factory combines automation and AI computing to improve quality, increase efficiency and also help to
              reduce costs
              and the inventory levels
            </p>
            <div>
              <div>
              </div>


            </div>

            <!-- <div class="category-wrapper">
  
  <div class="wrapper-1">
    <div class="category-box">
      <div> 
      <img src="https://www.packaging-gateway.com/wp-content/uploads/sites/2/2020/09/shutterstock_1152185600-1440x1008-1-857x600.jpg" alt="" class="category-img"></div>  
      <div class="category-name">SMART MANUFACTURING</div>
  </div>
  
    <div class="category-box">
        <div> 
      <img src="https://cdn.mos.cms.futurecdn.net/RCEVJyMr7YMQbGV9EFqs9C-1200-80.jpg" alt="" class="category-img"></div>    
    <div class="category-name">8K ECOSYSTEM</div>
  </div>
    
  </div>
  
  <div class="wrapper-2">
     <div class="category-box">
         <div> 
      <img src="https://www.2cm.com.tw/2cm/img/cms/864/486/1/2020-03/202003271412569719774154.jpg" alt="" class="category-img"></div>  
    <div class="category-name">SERVERS & STORAGE</div>
  </div>
  
  <div class="category-box">
           <div> 
      <img src="http://www.onlinecmag.com/wp-content/uploads/2014/09/liquidcoolingpc.jpg" alt="" class="category-img"></div>
    <div class="category-name">ADVANCED COOLING SYSTEM</div>
  </div> 
      
  </div> -->


          </div>

        </div>
      </div>

    </div>

  </div>

</section>

<section class="static-background">

  <div class="custom-container">

    <div class="about-wrapper">
      <div class="title-box title-left">
        <h1 class="about-title"> About Ingrasys</h1>
        <h class="line"> </h>
      </div>

      <div class="about-content">

        <div class="about-img">
          <img src="./assets/img/index/office.jpg" alt="Ingrasy logo" class="aboutBG-img">
        </div>

        <div class="about-description">

          <p>
            <font color="#F58522">At Ingrasys, we insist the greatest.
            </font>
            <br>
            Founded in Taiwan in 2002, Ingrasys is a subsidiary of Foxconn Industrial Internet /Hon Hai Technology
            Group. We are the leading cloud infrastructure innovator and have leveraged our decades-long expertise
            to become an innovative integrated solutions provider.

          </p>

          </br>

          <a href="/about" class="action">
            Learn More
          </a>



        </div>

      </div>
    </div>
  </div>
  <div class="custom-container">

    <div class="news-wrapper">

      <div class="title-box title-left">
        <h1 class="focus-title">News</h1>
        <h class="line"> </h>
      </div>

      <div class="slider">
        <div>
          <blockquote class="blockquote">
            <div class="quote-img">
              <img src="./assets/img/products/server/SV2080A/Minsky-45.png" class="news-img" width="100%" height="auto">
            </div>
            <div class="quote-content ">
              <h1 class="quote-content-title">
                <span style="color:#F58522;">Ingrasys partners with AMD for HPC solutions
                </span>
              </h1>
              <p class="quote-content-paragraph">Enabling Success Today while Laying the Foundation for Future HPC
                Innovations
              </p>
              <a href="https://www.youtube.com/watch?v=kUxW8oHWGJM" class="action">
                Learn More
              </a>
            </div>

          </blockquote>
        </div>
        <div>
          <blockquote class=" blockquote">
            <div class="quote-img">
              <img src="./assets/img/index/Irene_20210527.png" class="news-img" width="100%" height="auto">
            </div>
            <div class="quote-content ">
              <h1 class="quote-content-title">

                <font color="#F58522"> NVMe-oF Ecosystem with Ethernet SSD Storage</font>
              </h1>
              <p class="quote-content-paragraph">KIOXIA has been working in collaboration with key industry players
                Marvell, Foxconn-Ingrasys and Accton to bring
                groundbreaking Ethernet Bunch of Flash (EBOF)
                to market
              </p>

              <a href="https://www.businesswire.com/news/home/20200922006079/en/KIOXIA-Bolsters-NVMe-oF-Ecosystem-with-Ethernet-SSD-Storage-Collaborates-with-Marvell-Foxconn-Ingrasys-and-Accton"
                class="action">
                Learn More
              </a>
            </div>

          </blockquote>
        </div>

      </div>

    </div>


  </div>
  <div class="custom-container">
    <div class="text-container">

      <a href="/products" data-spotlight='PRODUCTS' class="text-deco text-1">PRODUCTS</a>

      <a href="/download" data-spotlight='DOWNLOAD' class="text-deco text-2">DOWNLOAD</a>

      <a href="/csr" data-spotlight='CSR' class="text-deco text-3">CSR</a>


    </div>



  </div>

</section>