<section>

  <div class="slider-top">

    <div class="custom-container">
      <nav class="under-header-products" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Products</a></li>
          <li class="breadcrumb-item active" aria-current="page">Server</li>
        </ol>
      </nav>
    </div>

    <div class="custom-container">

      <div class="slider-container">

        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">

          <ul class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ul>

          <div class="carousel-inner ">

            <div class="carousel-item active carousel-mobile">
              <img src="./assets/img/products/SV2080A_index.jpg" alt="First slide">

              <div class="carousel-caption slider-caption">

                <h>SV2080A
                </h>
                <br>
                <p>Density Optimized 2U 4-node Server to Address Growing Computing
                  Needs
                </p>

              </div>
            </div>

            <div class="carousel-item carousel-mobile ">
              <img src="./assets/img/products/SV2020A.jpg" alt="Secod slide">

              <div class="carousel-caption slider-caption">

                <h>SV2020A
                </h>

                <p>Feature-rich 2-Socket Server With Flexible I/O Options
                </p>

              </div>
            </div>
            <div class="carousel-item carousel-mobile">

              <img src="./assets/img/products/SV1020i.jpg" alt="Third slide">

              <div class="carousel-caption slider-caption">

                <h>SV1020i
                </h>

                <p>Ultimate 1U Server Unlocks Business Agility
                </p>

              </div>
            </div>

          </div>

          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>






      </div>



    </div>

  </div>




  <div class="custom-container slider-bottom">

    <div class="content-container">

      <div class="card">
        <img src="assets/img/products/card-minsky.png" class="card-img-top" alt="Minsky">

        {{!-- if this is new --}}
        <div class="new-tag">
          <span> New</span>
        </div>

        <div class="card-body">
          <h5 class="card-title">SV2080A</h5>
          <hr>
          <div class="text-box">
            <li class="card-text">4 Nodes </li>
            <li class="card-text">8 x 3rd Gen AMD EPYC™ </li>
            <li class="card-text">64 x DIMMs</li>
            <li class="card-text">12/24 x 2.5"/3.5" Drives</li>
            <li class="card-text">2U </li>


          </div>


          <a href="/product" class="btn btn-primary">View More</a>
        </div>
      </div>

      <div class="card">
        <img src="assets/img/products/card-wilkinson.png" class="card-img-top" alt="Wilkinson">
        <div class="card-body">
          <h5 class="card-title">SV2020A</h5>
          <hr>
          <div class="text-box">
            <li class="card-text">2 x 3rd Gen AMD EPYC™ </li>
            <li class="card-text">32 x DIMMs</li>
            <li class="card-text">26 x 2.5" Drives</li>
            <li class="card-text">2U </li>
            <br>

          </div>


          <a href="#" class="btn btn-primary">View More</a>
        </div>
      </div>

      <div class="card">
        <img src="assets/img/products/card-turing.png" class="card-img-top" alt="Turing">
        <div class="card-body">
          <h5 class="card-title">SV1020i</h5>
          <hr>
          <div class="text-box">

            <li class="card-text">2 x 3rd Gen Intel® Xeon®</li>
            <li class="card-text">32 x DIMMs</li>
            <li class="card-text">12 x 2.5" Drives</li>
            <li class="card-text">1U </li>
            <br>

          </div>

          <a href="#" class="btn btn-primary">View More</a>
        </div>
      </div>

    </div>

  </div>
</section>