<!--Main Header-->

<section>
  <div class="custom-container">

    <div class="product-container">
      <div class="product">
        <!-- card left -->
        <div class="product-imgs">
          <div class="img-display">
            <div class="img-showcase">
              <img src="/assets/img/1920x1080/Irene_20210527.png" alt="shoe image">
              <img src="/assets/img/temp
              /Irene_20210527.png" alt="shoe image""
                  alt=" shoe image">
              <img src="https://qct.io/upload/website/product/gallery/original/_DSC6858_20121711321-a_21031715809.png"
                alt="shoe image">
              <img src="shoes_images/shoe_4.jpg" alt="false" "shoe image">
            </div>
          </div>
          <div class="img-select">
            <div class="img-item">
              <a href="#" data-id="1">
                <img src="https://qct.io/upload/website/product/gallery/original/_DSC6858_20121711321-a_21031715809.png"
                  alt="shoe image">
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="2">
                <img src="https://qct.io/upload/website/product/gallery/original/_DSC6858_20121711321-a_21031715809.png"
                  alt="shoe image">
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="3">
                <img src="https://qct.io/upload/website/product/gallery/original/_DSC6858_20121711321-a_21031715809.png"
                  alt="shoe image">
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="4">
                <img src="https://qct.io/upload/website/product/gallery/original/_DSC6858_20121711321-a_21031715809.png"
                  alt="shoe image">
              </a>
            </div>
          </div>
        </div>
        <!-- card right -->
        <div class="product-content">
          <div class="product-detail">
            <h1>SV2080A</h1>

            <br>
            <span class="o-line"> </span>
            <p>Ultimate 1U Server Unlocks Business Agility</p>
            <ul>
              <li>- High-density Computing in a Compact Design</li>
              <li>- High-reliable Network Connectivity</li>
              <li>- Hybrid Storage Configurations </li>
              <li>- High-speed PCIe Expansion Capability</li>
            </ul>
          </div>
          <br>

          <div class="processor">
            <p>Powered by</p>
            <img src="/assets/img/icons/amd-epyc.webp" alt="intel">
          </div>

        </div>
      </div>
    </div>

  </div>


  {{!-- display contenr --}}
  <div class="custom-container">

    {{!-- mobile --}}

    <select class="select-bar" name="questions" id="faq-questions">
      <option value="1" selected>Overview</option>
      <option value="2">Specification</option>
      <option value="3">Downloads</option>
    </select>

    {{!-- web --}}

    <ul class="nav nav-pills " id="pills-tab" role="tablist">
      <input type="hidden" id="selected_menu_item" value="=$selectedMenuId">

      <li class="nav-item" role="presentation">
        <button class="nav-link dropdown-item active" id="pills-home-tab" data-bs-toggle="pill"
          data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
          aria-selected="true">Home</button>
      </li>

      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
          type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
      </li>

      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
          type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
      </li>

    </ul>

    {{!-- content --}}

    <div class="tab-content" id="pills-tabContent">

      <div class="acc tab-pane fade show answer answer-1 active" id="pills-home" role="tabpanel"
        aria-labelledby="pills-home-tab">

        <div class="custom-container">

          <div class="app-title">
            <h1>Application</h1>
          </div>


          <div class="app-container">
            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
              <br>
              <p class="item-title">Hyper-converged Storage</p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
              <br>
              <p class="item-title">Hyper-converged Storage</p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
              <br>
              <p class="item-title">Hyper-converged Storage</p>
            </div>
            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
              <br>
              <p class="item-title">Hyper-converged Storage</p>
            </div>
            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
              <br>
              <p class="item-title">Hyper-converged Storage</p>
            </div>
            <div class="app-item">
              <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
              <br>
              <p class="item-title">Hyper-converged Storage</p>
            </div>
          </div>

        </div>

        <div class="custom-container">
          <div class="point-container">
            <div class="point-item">
              <div class="point-img">
                <img src="/assets/img/temp/hpc.jpg" alt="應用">
              </div>

              <div class="point-content">
                <h class="point-title">
                  High-density Computing in a Compact Design
                </h>


                <p class="point-description">
                  The standard-compliant OCP 3.0 slot enables installation of a NIC card to provide hign bandwidth and
                  ultra-low latency
                  for data intensive applications, bringing the server networking to the next level


                </p>
              </div>
            </div>

            <div class="point-item">
              <div class="point-img">
                <img src="/assets/img/temp/hpc.jpg" alt="應用">
              </div>

              <div class="point-content">
                <h class="point-title">
                  High-density Computing in a Compact Design
                </h>


                <p class="point-description">
                  The standard-compliant OCP 3.0 slot enables installation of a NIC card to provide hign bandwidth and
                  ultra-low latency
                  for data intensive applications, bringing the server networking to the next level


                </p>
              </div>
            </div>
            <div class="point-item">
              <div class="point-img">
                <img src="/assets/img/temp/hpc.jpg" alt="應用">
              </div>

              <div class="point-content">
                <h class="point-title">
                  High-density Computing in a Compact Design
                </h>


                <p class="point-description">
                  The standard-compliant OCP 3.0 slot enables installation of a NIC card to provide hign bandwidth and
                  ultra-low latency
                  for data intensive applications, bringing the server networking to the next level


                </p>
              </div>
            </div>
            <div class="point-item">
              <div class="point-img">
                <img src="/assets/img/temp/hpc.jpg" alt="應用">
              </div>

              <div class="point-content">
                <h class="point-title">
                  High-density Computing in a Compact Design
                </h>


                <p class="point-description">
                  The standard-compliant OCP 3.0 slot enables installation of a NIC card to provide hign bandwidth and
                  ultra-low latency
                  for data intensive applications, bringing the server networking to the next level


                </p>
              </div>
            </div>
            <br>

          </div>
        </div>

        <div class="custom-container">
          <div class="certif-title">
            <h1>Certification</h1>
          </div>


          <div class="certif-container">
            <div class="certif-item">
              <img id="item-img" src="./assets/img/icons/80_Plus_Standard.png" alt="">
            </div>
            <div class="certif-item">
              <img id="item-img" src="./assets/img/icons/80_Plus_Standard.png" alt="">
            </div>
            <div class="certif-item">
              <img id="item-img" src="./assets/img/icons/80_Plus_Standard.png" alt="">
            </div>
          </div>
        </div>

      </div>


      <div class="tab-pane fade answer answer-2" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="custom-container">
          Specccccccccc
        </div>
      </div>

      <div class="tab-pane fade answer answer-3" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="custom-container">
          download
        </div>


      </div>
    </div>
  </div>






  </div>



  </div>

  </div>

  {{!-- <div class="custom-container">

    <div class="app-title">
      <h1>Application</h1>
    </div>


    <div class="app-container">
      <div class="app-item">
        <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
        <br>
        <p class="item-title">Hyper-converged Storage</p>
      </div>

      <div class="app-item">
        <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
        <br>
        <p class="item-title">Hyper-converged Storage</p>
      </div>

      <div class="app-item">
        <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
        <br>
        <p class="item-title">Hyper-converged Storage</p>
      </div>
      <div class="app-item">
        <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
        <br>
        <p class="item-title">Hyper-converged Storage</p>
      </div>
      <div class="app-item">
        <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
        <br>
        <p class="item-title">Hyper-converged Storage</p>
      </div>
      <div class="app-item">
        <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
        <br>
        <p class="item-title">Hyper-converged Storage</p>
      </div>
    </div>

  </div>

  <div class="custom-container">
    <div class="point-container">
      <div class="point-item">
        <div class="point-img">
          <img src="/assets/img/temp/hpc.jpg" alt="應用">
        </div>

        <div class="point-content">
          <h class="point-title">
            High-density Computing in a Compact Design
          </h>


          <p class="point-description">
            The standard-compliant OCP 3.0 slot enables installation of a NIC card to provide hign bandwidth and
            ultra-low latency
            for data intensive applications, bringing the server networking to the next level


          </p>
        </div>
      </div>

      <div class="point-item">
        <div class="point-img">
          <img src="/assets/img/temp/hpc.jpg" alt="應用">
        </div>

        <div class="point-content">
          <h class="point-title">
            High-density Computing in a Compact Design
          </h>


          <p class="point-description">
            The standard-compliant OCP 3.0 slot enables installation of a NIC card to provide hign bandwidth and
            ultra-low latency
            for data intensive applications, bringing the server networking to the next level


          </p>
        </div>
      </div>
      <div class="point-item">
        <div class="point-img">
          <img src="/assets/img/temp/hpc.jpg" alt="應用">
        </div>

        <div class="point-content">
          <h class="point-title">
            High-density Computing in a Compact Design
          </h>


          <p class="point-description">
            The standard-compliant OCP 3.0 slot enables installation of a NIC card to provide hign bandwidth and
            ultra-low latency
            for data intensive applications, bringing the server networking to the next level


          </p>
        </div>
      </div>
      <div class="point-item">
        <div class="point-img">
          <img src="/assets/img/temp/hpc.jpg" alt="應用">
        </div>

        <div class="point-content">
          <h class="point-title">
            High-density Computing in a Compact Design
          </h>


          <p class="point-description">
            The standard-compliant OCP 3.0 slot enables installation of a NIC card to provide hign bandwidth and
            ultra-low latency
            for data intensive applications, bringing the server networking to the next level


          </p>
        </div>
      </div>
      <br>

    </div>
  </div>

  <div class="custom-container">
    <div class="certif-title">
      <h1>Certification</h1>
    </div>


    <div class="certif-container">
      <div class="certif-item">
        <img id="item-img" src="./assets/img/icons/80_Plus_Standard.png" alt="">
      </div>
      <div class="certif-item">
        <img id="item-img" src="./assets/img/icons/80_Plus_Standard.png" alt="">
      </div>
      <div class="certif-item">
        <img id="item-img" src="./assets/img/icons/80_Plus_Standard.png" alt="">
      </div>
    </div>
  </div> --}}
</section>
<br>