ul,li {
  color:white;
}

.under-header{
  position:absolute;
  top:10rem;
}

.breadcrumb{
  padding-left:2.5rem;
  margin:0;
  align-items: center;
  justify-content:flex-start;
}

.breadcrumb-item a{
  color:white;
}

.breadcrumb-item.active{
  color:#F58522;
}

.csr-banner{

  width:100%;
  height:70vh;
  background-size:cover ;
  background-position: center;
  background-image: url("/assets/img/temp/csr1.jpg");
}
 


.csr-banner img {
  object-position: center;
  max-width:100%;
  min-height:80%;
}

.csr-wrapper{
width:90%;
margin-left:5%;
padding:3rem;
background: rgba(151, 140, 140, 0.2);
border-radius: 10px;
}

.csr-bottom{
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
   background-image: url("/assets/img/backgrounds/productsMain.jpg");
}


.csr-wrapper h1{
  color: #F58522;
  font-size: 1.3rem;
  line-height:100%;;
  font-weight:bold;
}

.csr-wrapper p{
  font-size:0.8rem;
  line-height:130%;
}

.csr-wrapper li{
  font-size:0.8rem;
  line-height:150%;
}


@media screen and (min-width:768px) {
  .csr-wrapper h1{
  font-size: 1.8rem;

}

.csr-wrapper p{
  font-size:1.2rem;
}

 .csr-wrapper li{
  font-size:1rem;
}

}



@media screen and (min-width:1024px) {
  .csr-wrapper h1{
  font-size: 2rem;
 
}

.csr-wrapper p{
  font-size:1.5rem;
}

 .csr-wrapper li{
  font-size:1.2rem;
}

}

